.rueda-main h5{
    grid-area: rueda-main-h5;
}
.rueda-main h3{
    grid-area: rueda-main-h3;
}
.rueda-main-foto{
    grid-area: rueda-main-foto;
}



@media(min-width:1024px){
    header{
        height: 7rem;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas: "header-icon" "nav";
    }

    .logo{
        width: 15rem;
    }
    .burgermenu{
        display: none;
    }
    .menu{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6,auto);
        column-gap: 15px;
        margin-top: 3rem;        
    }
    .menu li{
        margin-right: 1.3rem;
        margin-bottom: 5rem;
        
     }
     
     .menu li a {
         font-weight: 400;
         text-decoration: none;
         color: var(--black);
         font-size: 1.6rem;
         transition: all 0.4s linear;
         transition: font-size 0.5s;
         
     }
      
    a:hover {
        background-color: var(--softviolet);
        opacity: 0.8;
    }
    .menu li a:hover{
        font-size: 2rem;
    }
    .main-button{
        width: 15rem;
        font-size: 1rem;
        font-weight: 400;
        border-radius: 5px;
        margin-top: 0.5rem;
    }
    .inicio-1{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: "foto-inicio-mobile" "inicio-textos" ".""foto-inicio-descarga";
        height: 800px;
    
    }
    .foto-inicio-mobile {
        width: 60rem;    
        margin-top: 15rem;
    }
    .inicio-textos h1 {
        font-size: 7rem;
        margin-top: 20rem;
        font-weight: 500;
    }
    .inicio-textos p {
        font-size: 3.3rem;
        margin-top: 5rem;
        font-weight: 400;
        display: block;
        width: 600px;
        color: var(--white);
        margin-left: 15rem;
    }

    .inicio h4, .inicio h5{
        display: none;
    }
    .foto-inicio-descarga{
        grid-template-columns: repeat(3,auto);
        top: 40rem;
        justify-content: center;
        column-gap: 5px;
        cursor: pointer;
        right: 16rem;

     }
     .foto-inicio-descarga img{
         width: 17rem;
         margin-left: 5rem;
        transition: width 1s;
     }
     .foto-inicio-descarga img:hover{
        width: 25rem;
    }
    


     .funciones{
         background-image: linear-gradient(white, #780ca3);
         width: 100%;
     }
     
     .funciones-foto{
         flex-direction: row;
         margin: auto;
         width: 80%; 
     }
     .funciones h3{
        font-size: 5rem;
        color: var(--black);
        margin-bottom: 4rem;
    }
    .funciones-foto img{
     width: 15rem;
     margin-top: 3rem;
    }
    .funciones-foto-1 img{
        width: 11rem;
    }
    .funciones-foto-1,.funciones-foto-2, .funciones-foto-3, .funciones-foto-4, .funciones-foto-5{
        margin-top: 6rem;
        box-shadow: 4px 8px 8px var(--middlewhite);
        border-radius: 10px;
        width: 400px;
        height: 350px;
        margin-right: 15rem;
    }
    .funciones-foto h5{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }
    .funciones-foto p{
        font-size: 1.5rem;
        opacity: 0.88;
 
    }
    .tarjeta h3{
        font-size: 6rem;
        margin-top: auto;
    }
    .tarjeta h5{
        font-size: 3rem;
        margin: auto;
    }

    .grid-container{
        display:grid;
        grid-template-columns: repeat(3,auto);
    }


    .container-2-foto{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-2 h3{
        font-size: 5rem;
        margin: auto;
        margin-top: 6rem;
        
    }
    .container-2 h5{
     display: block;
     font-size: 2rem;
     width: 600px;
     margin: auto;
    }
    .container-2-foto-1, .container-2-foto-2{
        margin-bottom: 30px;
        background-color: var(--white);
       
    }
    .container-2-foto-1 p, .container-2-foto-2 p{
        font-size: 2rem;
    }
    .container-2-foto img {
        width: 50rem;
        margin-top: 3rem;
        margin-right: 8rem;
    }

    .beneficiosypromociones{
        width: 100%;
        padding-top: 5rem;
        
    
    }
    .beneficiosypromociones h3{
        font-size: 5rem;
        background-color: var(--blue);
        color: var(--white);
        margin: 10px auto;
    }
    .beneficiosypromociones h4{
        padding-top: 2rem;
        font-size: 6rem;
    }
    .beneficiosypromociones p {
        padding-top: 2rem;
        font-size: 3rem;
        
    }
    .promocion-foto img {
        width: 110rem;
        margin-top: 3rem;
        
    }
    .foto-beneficios{
        flex-direction: row;
        justify-content: center;
        margin-top: 5rem;
    }

    .rueda-main{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "rueda-main-h3" "rueda-main-h5" ;
        height: 100px;
    }
    .rueda-main-foto{
        position: relative;
        bottom: 45rem;
    }
    .rueda-main-foto img {
        width: 45rem;
    }
    .rueda-main h3{
        width: 600px;
        font-size: 8rem;
        font-weight: 200;
        justify-self: flex-end;
        padding-left: 7rem;
    }
    
    .rueda-main h5{
        width: 600px;
        font-size: 5rem;
        font-weight: 200;
        justify-self: flex-end;
        padding-left: 7rem;
    }
    .rueda-main-2 {
        padding-top: 10rem;
    }
    .rueda-main-2 h4{
        width: 600px;
        font-size: 4rem;
        margin-top: 10rem;
    }
    .rueda-main-2 p{
        width: 600px;
        font-size: 2rem;
    }
    .rueda-main-2{
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
    .rueda-main-2 img {
        width: 50rem;
        justify-self: center;
    }
    .rueda-premios h3{
        font-size: 5rem;
        font-weight: 200;
        width: 100%;
    }
    .rueda-premios img {
        width: 25rem;
        margin: 15px 120px;
        
    }
    .rueda-premios-info h3{
        width: 60rem;
        font-size: 5rem;
    }
    .rueda-premios-info p{
        width: 600px;
        font-size: 3rem;

    }
    .rueda-premios-info img{
        width: 500px;
        margin: 2rem 10rem;
    }
    
   
    .inversionescripto-1{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
        grid-template-areas: "inversiones-texto" "inversiones-foto";
        height: 50rem;
        
    }
    .inversionescripto-1 h3{
        font-size: 6rem;
        width: 60rem;
        padding-top: 6rem;
    }
    .inversionescripto-1 h5{
        font-size: 2rem;
        width: 60rem;
    }
   .inversionescripto-1 img{
       width: 55rem;
       position: relative;
       bottom: 35rem;
       left: 60rem;
   }
   .inversionescripto-2 h3{
       font-size: 5rem;
       margin: 3rem 25rem;
   }
   .foto-cripto{
       flex-direction: row;
   }
    
    
    
    
    .inversionescripto-3 h3 {
    font-size: 5rem;
    width: 50rem;
    }
    .inversionescripto-3 h3 {
    font-size: 4rem;
    width: 50rem;
    margin-left: 15rem;
    padding-top: 30rem;
    }
    .foto-cripto-5{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        column-gap: 35rem;
    }
    .foto-cripto-5 img{
        width: 30rem;
        position: relative;
        bottom:15rem;

    }



    .canalesdecontacto h5{
    font-size: 3rem;
    }
    .canalesdecontacto h3{
    font-size: 5rem;
    }
    .canalesdecontacto p{
    font-size: 2rem;
    width: 800px;
    margin: 10px auto;
    }
    .formulario form{
        width: 70%;
        margin: 50px auto;
    }
    .formulario input, .formulario select {
        width: 100%;
        height: 25px;
    }
    .formulario label {
        font-size: 2rem;
    }
    .formulario-boton{
        width: 500px;
        height: 25px;
    }
    








    .footer{
        background-color: var(--middlewhite);
    }
    .footer-container{
        grid-template-columns: repeat(2,auto);
    }
    .grid-1{
        display: flex;
        justify-items: center;
    
    }
    .container-redes, .container-nosotros, .container-carreras{
        margin-right: 10rem;
        margin-left: 16rem;
    }
    .footer-container h5{
        font-size: 2rem;
    }
    
    .footer-container li a {
        font-size: 1.5rem;
    }
    .fotos-footer img {
        margin-bottom: 1.5rem;
        width: 6rem
    }
    .footer-final p{
        width: 100%;
        font-size: 1rem;
    }
    



    
}