.rueda-main h5{
    grid-area: rueda-main-h5;
}
.rueda-main h3{
    grid-area: rueda-main-h3;
}
.rueda-main-foto{
    grid-area: rueda-main-foto;
}



@media(min-width:1024px){
    

    
    
    




    
   
    
    
    
    
    
    




  
    
    







    /* css unicamente de secciones*/ 
     

    



    
}