:root{
    --violet:#400056;
    --darkpink:#fa0cbf;
    --darkviolet:#a008bd;
    --middlewhite:#ecedef;
    --grey:#c2c5cc;
    --softviolet:#780ca3;
    --blue:#720bc2;
    --backgroundviolet:#6409ab;
    --black:#000000;
    --white:#ffffff;
    --white2:#fdf9f9;
    --sm:2rem;
    --md:4rem;
    --lg:8rem;
    --basic:1.6rem;

}




@media(min-width:320px){







   







 /* css unicamente de secciones*/ 
 



}