:root{
    --violet:#400056;
    --darkpink:#fa0cbf;
    --darkviolet:#a008bd;
    --middlewhite:#ecedef;
    --softviolet:#780ca3;
    --blue:#720bc2;
    --backgroundviolet:#6409ab;
    --black:#000000;
    --white:#ffffff;
    --white2:#fdf9f9;
    --sm:2rem;
    --md:4rem;
    --lg:8rem;
    --basic:1.6rem;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Kanit', sans-serif;
}


nav{
    grid-area: nav;
}
.header-icon{
    grid-area: header-icon;
}
header{
    display: grid;
}

.menu{
    display: grid;
    
}


.foto-inicio-desktop{
    grid-area: foto-inicio-desktop;
    margin-top: 5rem;
}
.inicio-texto{
    grid-area: inicio-texto;
    margin-top: 3rem;
}
.foto-inicio-descarga{
    grid-area: foto-inicio-descarga;
}
.foto-inicio-mobile{
    grid-area: foto-inicio-mobile;
}
.inicio-1{
    display: grid;
}
.foto-inicio-descarga{
    display: grid;
}


.funciones-foto-1{
    grid-area: funciones-foto-1;
}
.funciones-foto-2{
    grid-area: funciones-foto-2;
}
.funciones-foto-3{
    grid-area: funciones-foto-3;
}
.funciones-foto-4{
    grid-area: funciones-foto-4;
}
.funciones-foto-5{
    grid-area: funciones-foto-5;
}



.funciones-foto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-2 h3{
    grid-area: container-2-h3;
}
.container-2 h5{
    grid-area: container-2-h5;
}
.container-2-foto{
    grid-area: container-2-foto;
}
.container-2{
    display: grid;
}
.container-2-foto{
    display: flex;
}

.inversionescripto-1{
    display: grid;
}
.inversiones-texto{
    grid-area: inversiones-texto;
}
.inversiones-foto{
    grid-area: inversiones-foto;
}

.inversionescripto-3 h3{
    grid-area: inversionescripto-3-h3;
}
.foto-cripto-5{
    grid-area: foto-cripto-5;
}
.foto-cripto-6{
    grid-area: foto-cripto-6;
}




.container-redes{
    grid-area: container-redes;
}
.container-nosotros{
    grid-area: container-nosotros;
}
.container-carreras{
    grid-area: container-carerras;
}
.fotos-footer{
    grid-area: fotos-footer;
}
.footer-container{
    display: grid;
}

.footer{
    display: flex;
}



@media(min-width:320px){
    header{
        grid-template-columns: auto auto;
        grid-template-rows:auto auto;
        grid-template-areas: "header-icon" "nav";
        background-color: var(--white);
        height: 5rem;
        position: fixed;
        width: 100%;
        z-index: 1;
        top: 0;
  
    }
    .logo{
        width: 10rem;
        padding-top: 1rem;
    }
    .burgermenu{
        width: 3rem;
        padding-top: 1rem;
        margin-left: 9rem;
    }
    .menu{
        display: none;
    }
    .menu li{
        list-style: none;
        margin-left: 1rem;
     }

     
    .inicio{
        background-color: var(--white);
        background-image: linear-gradient(#6409ab,#780ca3,violet, white)
    }
     .inicio-1{
         grid-template-columns: auto;
         grid-template-rows: 40% auto 30%;
         grid-template-areas: "inicio-texto" "foto-inicio-descarga" "foto-inicio-mobile";
         justify-content: flex-start;
         
         
     }
     .inicio-textos{
         overflow: hidden;
         margin-bottom: 4rem;
         margin-top: 3rem;
        
     }
     .inicio-textos h1{
         font-size: 3.3rem;
         color: var(--white);
         margin-bottom: 2rem;
         margin-top: 5rem;
         font-weight:400;
     }
     .inicio-textos p {
        display: none;
     }
     .inicio h4, .inicio h5{
         font-size: 1.4rem;
         color: white;
         font-weight: 200;
     }
     
   .foto-inicio-descarga{
       flex-direction: column;
       position: absolute;
       margin-top: 26rem;
   }
   .foto-inicio-descarga img{
       width: 20rem;
       margin-bottom: 3rem;
   }
   .foto-inicio-mobile{
       width: 30rem;
       margin-top: 4rem;
   }

   .funciones{
       margin-top: 35rem;
       
   }
   .funciones h3{
       font-size: 3rem;
       color: var(--black);
       font-weight: 300;
   }
   .funciones-foto{
       width: 300px;
       flex-direction: column;
      align-content: cen;
   }
   .funciones-foto img{
    width: 15rem;
   }
   .funciones-foto-1 img{
       width: 11rem;
       
   }
   .funciones-foto-1,.funciones-foto-2, .funciones-foto-3, .funciones-foto-4, .funciones-foto-5{
       margin-top: 6rem;
       box-shadow: 4px 8px 8px var(--middlewhite);
       border-radius: 10px;
   }
   .funciones-foto h5{
       font-size: 2.5rem;
       font-weight: bold;
   }
   .funciones-foto p{
       font-size: 1.5rem;
       opacity: 0.86;
       font-weight: 400;

   }

   .tarjeta{
    background-image: url(https://s6c7h4e3.stackpathcdn.com/wp-content/uploads/2020/07/bigstock-Background-Purple-And-White-B-333163945.jpg);
    padding-top: 10rem;
    margin-top: 5rem;
   }
   .tarjeta h3{
       font-size: 3rem;
   }
   .tarjeta h5{
       font-size: 2rem;
   }
   .container{
       margin-top: 4rem;
       
       
       
   }
   .paso1, .paso2, .paso3{
       margin: 50px auto;
       width: 290px;
       height: 310px;
       position: relative;
       transform-style: preserve-3d;
       box-shadow: 4px 4px 4px var(--middlewhite);
       background: var(--white);
   }
   .paso1 h5, .paso2 h5, .paso3 h5{
       color: var(--violet);
       margin-bottom: 2rem;
       font-size: 2rem;
       margin-left: 4rem;
       margin-top: 4rem;
   }
   .paso1 img, .paso2 img, .paso3 img{
       width: 22rem;
       margin-left: 3rem;
   }
   .paso2 img{
       width: 25rem;
   }
   .paso1 p, .paso2 p, .paso3 p {
       font-size: 2.5rem;
       margin-top: 7rem;
       color: var(--violet);
       font-weight: 400;
    
   }
   .adelante, .atras{
       width: 100%;
       height: 100%;
       position: absolute;
       -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
   }
   .atras{
    transform: rotateY(180deg);
    
    
   }
   .container:hover .paso1{
    transform: rotateY(180deg);
   }
   .container:hover .paso2{
    transform: rotateY(180deg);
   }
   .container:hover .paso3{
    transform: rotateY(180deg);
   }
   
   .container-2{
       grid-template-columns: auto;
       grid-template-rows: repeat(3,1fr);
       grid-template-areas: "container-2-h3" "container-2-h5" "container-2-foto";
       background-color: var(--white);
   }
   .container-2-foto{
       flex-direction: column;
       background-color: var(--white);
   }
   .container-2 h3{
       font-size: 2.7rem;
       color: var(--violet);
       border-radius: 2rem;
       
       
   }
   .container-2 h5{
    display: none;
   }
   .container-2-foto-1, .container-2-foto-2{
       margin-bottom: 30px;
       background-color: var(--white);
      
   }
   .container-2-foto-1 p, .container-2-foto-2 p{
       color: var(--violet);
       font-size: 1.7rem;
   }
   .container-2-foto img {
       width: 30rem;
   }

   .beneficiosypromociones{
       width: 100%;
       padding-top: 5rem;
       

   }
   .beneficiosypromociones h3{
       font-size: 3rem;
       background-color: var(--blue);
       color: var(--white);
       margin: 10px auto;
       padding-top: 5rem;
   }
   .beneficiosypromociones h4{
       padding-top: 2rem;
       font-size: 4rem;
   }
   .beneficiosypromociones p {
       padding-top: 2rem;
      
       font-size: 2.4rem;
   }
   .promocion-foto img {
       width: 30rem;
       margin:50px auto;
   }
   .foto-beneficios{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .fotos-bene img {
       width: 100%;
       transition: all 500ms ease-out;

   }
   .fotos-bene{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .fotos-bene figure{
       position: relative;
       height: 250px;
       width: 255px;
       overflow: hidden;
       box-shadow: 5px 15px 25px var(--middlewhite);
       cursor: pointer;
       margin-bottom: 6rem;
   }
   .fotos-bene figure .capa{
       position: absolute;
       top:0%;
       width: 100%;
       height: 100%;
       background: rgba(255, 255, 255, 0.60);
       transition: all 500ms ease-out;
       opacity: 0;
       visibility: hidden;
       text-align: center;
   }
   .fotos-bene figure:hover > .capa {
       opacity: 1;
       visibility: visible;
   }
   .capa h5{
       font-size: 1.5rem;
       color: var(--black);
       font-weight: 400;
       
   }
   .capa button{
       border-radius: 2px;
       background-color: var(--middlewhite);
       border: 2px solid var(--white);
       width: 10rem;
   }
   .capa button a {
       text-decoration: none;
       color: var(--black);
   }
   .capa{
    padding-top: 10rem;
   }
    .ruedadepremios{
    background-color: var(--blue);
    }
    .rueda-fondo{
    width: 100%;
    height: 600px;
    }
    .rueda-main img {
    width: 30rem;
    }
    .rueda-main{
    position: relative;
    bottom: 420px;
    color: var(--white);
    height: 500px;
    }
    .rueda-main h3{
    font-size: 6rem;
    margin-left: 5rem;
    width: 20rem;
    font-weight: 300;
    }
    .rueda-main h5{
    font-size: 3rem;
    margin-left: 5rem;
    width: 25rem;
    font-weight: 200;
    }
    .rueda-main-2 {
        background-color: var(--middlewhite);  
    }
    .rueda-main-2 h4{
        font-size: 4rem;
        width: 25rem;
        margin: auto;
        font-weight: 300;
        padding-bottom: 3rem;
    }
    .rueda-main-2 p{
        font-size: 2.5rem;
        width: 25rem;
        margin: auto;
        font-weight: 200;
    }
    .rueda-main-2 img{
        width: 30rem;
        padding-top: 3rem;
    }
    .rueda-premios{
        background-color: var(--middlewhite);
    }
    .rueda-premios h3{
        font-size: 3rem;
        font-weight: 300;
        width: 28rem;
        margin: auto;
        padding-bottom: 4rem;
    }
    .rueda-premios img {
        width: 25rem;
        margin: 10px 25px;
        border-radius: 20px;
        box-shadow: 2px 5px 5px;
        
    }
    .rueda-premios-info{
        width: 100%;
        background-color: var(--blue);
        color: var(--white);
        padding-bottom: 15rem;
    
    }
    .rueda-premios-info h3{
        padding-top: 5rem;
        font-weight: 300;
        margin: auto;
        padding-bottom: 4rem;
        font-size: 3rem;
        width: 300px;
    }
    .rueda-premios-info p {
        font-size: 2rem;
        margin: auto;
        font-weight: 200;
        width: 300px;
        margin-bottom: 5rem;
    }
    .rueda-premios-info img {
        width: 30rem;
        margin-left: 1rem;
        border-radius: 10px;
        margin-bottom:1rem;
        box-shadow: 2px 2px 2px;
    }
    






   .inversionescripto{
    background-color: var(--white);
    padding-top: 5rem;
    
   }
   .inversionescripto-1{
    background-color: var(--blue);
    height: 650px;
    grid-template-columns: auto;
    grid-template-rows: repeat(2,auto);
    grid-template-areas: "inversiones-foto" "inversiones-texto";
    justify-items: center;
    align-items: center;
    color: var(--white);
}
    .inversiones-foto img {
    width: 30rem;
}
.inversiones-texto h3{
    font-size: 4rem;
}
.inversiones-texto h5{
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.inversionescripto-2 h3{
    font-size: 3rem;
    margin-top: 2rem;
}
.foto-cripto{
    display: flex;
    margin-top: 3rem;
    flex-direction: column;

}
.foto-cripto-1 , .foto-cripto-2, .foto-cripto-3, .foto-cripto-4{
    width: 24rem;
    margin: 40px auto;
    background-color: var(--white);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 15px 15px var(--middlewhite);

}
.foto-cripto-1 img, .foto-cripto-2 img, .foto-cripto-3 img, .foto-cripto-4 img{
    background-color: #eee8f7;;
    border-radius: 15rem;
    width: 11rem;
    margin-top: 5rem;
}
.foto-cripto-1 h4, .foto-cripto-2 h4, .foto-cripto-3 h4, .foto-cripto-4 h4{
    font-size: 2rem;
}
.foto-cripto-1 p, .foto-cripto-2 p, .foto-cripto-3 p, .foto-cripto-4 p {
    font-size: 12px;
    opacity: 0.85;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.inversionescripto-3{
   display: grid;
   grid-template-rows: repeat(3,auto);
   grid-template-areas: "inversionescripto-3-h3" "foto-cripto-5" "foto-cripto-6";
}
.inversionescripto-3 h3{
   width: 100%;
   font-size: 4rem;

}
.inversionescripto-3 ul{
    list-style: none;
}
.inversionescripto-3 ul li{
    font-size: 1.8rem;
    padding-top: 4rem;
}
.foto-cripto-6 {
    width: 30rem;
    padding-top: 3rem;
    margin: 5px auto;
    margin-bottom: 10rem;
}

.canalesdecontacto{
    background-color: var(--blue);
    color: var(--white);
}

.canalesdecontacto h3{
    font-size: 3rem;
    padding-top: 15rem;
    background-color: var(--middlewhite);
    color: var(--blue);
}
.canalesdecontacto h5{
    font-size: 1.5rem;
    padding-top: 1rem;
}
.canalesdecontacto p{
    font-size: 1.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-weight: 300;
}
.formulario form{
    width: 20rem;
    margin: auto;
}
.formulario label{
    font-size: 1.5rem;
    font-weight: 400;
}
.formulario input{
   border: 3px solid var(--middlewhite);
   width: 20rem;
   margin-bottom: 2rem;
}
.formulario select {
    margin-bottom: 4rem;
}
.formulario textarea{
   border: 3px solid var(--middlewhite);
   width: 100%
}
.formulario-boton{
    background-color: var(--middlewhite);
    margin-top: 3rem;
    border-radius: 5px;
}






   





.footer{
    background-color: var(--middlewhite);
    opacity: 0.8;
    color: var(--violet);
}
.footer img {
    width: 3.5rem;
}
.footer-container{
    grid-template-columns: repeat(2,160px);
    column-gap: 50px;
    margin-top: 2rem
}
.footer-container h5{
    font-size: 1rem;
}
.footer-container li{
    list-style: none;
}
.footer-container li a {
    color: var(--black);
    font-size: 1rem;
    text-decoration: none;
}
.fotos-footer img {
    margin-bottom: 1.5rem;
}



}