@import "./base/resets";

@import "./abstracts/variables";

$footer:(facebook:#3b5998,instagram: #fa0cbf,linkedin:#76b8e4 );
$somecolors:(backgrounds:(#a008bd));
$specialcolors:(boton-verde:rgb(54, 201, 54))
@mixin sizes($width, $height){
    width:$width;
    height:$height;
}





html{
    font-size: 62.5%;
}

nav{
    grid-area: nav;
    .navbar{
        .menu{
            display: grid;
            
        }
    }
}

header{
    display: grid;
    .header-icon{
        grid-area: header-icon;
    }
}
.main-button{
    background-color: map-get($map: $footer, $key:instagram );
}




.inicio-1{
    display: grid;
    .inicio-texto{
        grid-area: inicio-texto;
        margin-top: 3rem;
    }
    .foto-inicio-descarga{
        display: grid;
        grid-area: foto-inicio-descarga;
        
    }
    .foto-inicio-mobile{
        grid-area: foto-inicio-mobile;
    }
}

.funciones-foto{
    display: flex;
    align-items: center;
    justify-content: center;

    .funciones-foto-1{
        grid-area: funciones-foto-1;
    }
    .funciones-foto-2{
        grid-area: funciones-foto-2;
    }
    .funciones-foto-3{
        grid-area: funciones-foto-3;
    }
    .funciones-foto-4{
        grid-area: funciones-foto-4;
    }
    .funciones-foto-5{
        grid-area: funciones-foto-5;
    }
}


.container-2-foto{
    grid-area: container-2-foto;
}
.container-2{
    display: grid;
}
.container-2-foto{
    display: flex;
}

.inversionescripto-1{
    display: grid;
    .inversiones-texto{
        grid-area: inversiones-texto;
    }
    .inversiones-foto{
        grid-area: inversiones-foto;
    }
}


.inversionescripto-3 {
    h3{
        grid-area: inversionescripto-3-h3;
    }
    .foto-cripto-5{
        grid-area: foto-cripto-5;
    }
    .foto-cripto-6{
        grid-area: foto-cripto-6;
    }
}
.footer{
    display: flex;
}

.footer-container{
    display: grid;
    .container-redes{
        grid-area: container-redes;
    }
    .container-nosotros{
        grid-area: container-nosotros;
    }
    .container-carreras{
        grid-area: container-carerras;
    }
    .fotos-footer{
        grid-area: fotos-footer;
    }
}
.rueda-main h5{
    grid-area: rueda-main-h5;
}
.rueda-main h3{
    grid-area: rueda-main-h3;
}
.rueda-main-foto{
    grid-area: rueda-main-foto;
}
@media(min-width:320px){
    
    header{
        grid-template-columns: auto auto;
        grid-template-rows:auto auto;
        grid-template-areas: "header-icon" "nav";
        background-color: var(--white);
        position: fixed;
        @include sizes(100%,5rem )
        z-index: 1;
        top: 0;
        .nav{
            .navbar{
                .menu{
                    display: none;
                    li{
                        list-style: none;
                        margin-left: 1rem;}
                }
            }
        }
  
    }
    .header-icon{
        a{
            .logo{
                width: 10rem;
                padding-top: 1rem;
            }
        }
        .burgermenu{
            width: 3rem;
            padding-top: 1rem;
            margin-left: 9rem;
        }
    }
    /* Seccion 1*/
    .inicio{
        background-color: var(--white);
        background-image: linear-gradient(#6409ab,#780ca3, white);
        .inicio-1{
            grid-template-columns: auto;
            grid-template-rows: 40% auto 30%;
            grid-template-areas: "inicio-texto" "foto-inicio-descarga" "foto-inicio-mobile";
            justify-content: flex-start;
            .inicio-textos{
                overflow: hidden;
                margin-bottom: 4rem;
                margin-top: 3rem;
                h1{
                    font-size: 3.3rem;
                    color: var(--white);
                    margin-bottom: 2rem;
                    margin-top: 5rem;
                    font-weight:400;
                }
                p {
                    display: none;
                 }
                 h4{
                    font-size: 1.4rem;
                    color: white;
                    font-weight: 200;
                 }
                 h5{
                    font-size: 1.4rem;
                    color: white;
                    font-weight: 200;
                 }
               
            }
            .foto-inicio-descarga{
                flex-direction: column;
                position: absolute;
                margin-top: 26rem;
                img{
                    width: 20rem;
                    margin-bottom: 3rem;
                }
            }
            .foto-inicio-mobile{
                width: 30rem;
                margin-top: 4rem;
            }
        }
    }

    .funciones{
        margin-top: 35rem;
        background-color: var(--white);
        h3{
            font-size: 3rem;
            color: var(--black);
            font-weight: 300;
        }
        .funciones-foto{
            width: 300px;
            flex-direction: column;
           align-content: center;
           img{
            width: 15rem;
           }
           h5{
            font-size: 2.5rem;
            font-weight: bold;
            }
            p{
                font-size: 1.5rem;
                opacity: 0.86;
                font-weight: 400;
         
            }
        }
        .funciones-foto-1{
            img{
                width: 11rem;
                
            }
        }
        .funciones-foto-5{
            img{
                width: 19rem;
            }
        }
        .funciones-foto-1,.funciones-foto-2, .funciones-foto-3, .funciones-foto-4, .funciones-foto-5{
            margin-top: 6rem;
            box-shadow: 4px 8px 8px var(--middlewhite);
            border-radius: 10px;
        }
        
    }
    .prextamo{
        background-color: var(--blue);
        margin-top: 5rem;
        padding-top: 10rem;
        padding-bottom: 10rem;
        .prextamo-foto{
            h3{
                color: var(--white);
               }
            figure{
                img {
                    width: 30rem;
                }
            }   
        }
        .prextamo-texto{
            h3 {
                display: none;
            }
            .prextamo-texto-1{
                margin-bottom: 5rem;
                border: 3px solid var(--backgroundviolet);
                border-radius: 10px;
                img {
                    width: 10rem;
                    padding-bottom: 10px;
                   }
                h5 {
                    color: white;
                    font-weight: 400;
                    font-size: 2rem;
                }
                p{
                    color: white;
                    font-weight: 300;
                    font-size: 1.5rem;
                    opacity: 0.95;
                }
            }
            .prextamo-3{
                img {
                    width: 13rem;
                }
            }
        }
       }
      
/* seccion 2 */
.tarjeta{
    background-image: url(https://s6c7h4e3.stackpathcdn.com/wp-content/uploads/2020/07/bigstock-Background-Purple-And-White-B-333163945.jpg);
    padding-top: 15rem;
    h3{
        font-size: 3rem;
    }
    h5{
        font-size: 2rem;
    }
    .grid-container{
        .container{
            margin-top: 4rem;
            .paso1, .paso2, .paso3{
                margin: 50px auto;
                width: 290px;
                height: 310px;
                position: relative;
                transform-style: preserve-3d;
                box-shadow: 4px 4px 4px var(--middlewhite);
                background: var(--white);
                h5{
                    color: var(--violet);
                    margin-bottom: 2rem;
                    font-size: 2rem;
                    margin-left: 4rem;
                    margin-top: 4rem;
                }
                img{
                    width: 22rem;
                    margin-left: 3rem;
                }
                p {
                    font-size: 2.5rem;
                    margin-top: 7rem;
                    color: var(--violet);
                    font-weight: 400;
                 
                }
                .adelante{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }
                .atras{
                    @extend .adelante;
                    transform: rotateY(180deg);
                }
                &:hover{
                    transform: rotateY(180deg);
                }
            }
            .paso2{
                img{
                    width: 35rem;
                }
            }
        }
    }
/* seccion 3 */

   
/* seccion 4 */
    .inversionescripto{
    background-color: var(--white);
    padding-top: 5rem;
    .inversionescripto-1{
        background-color: var(--blue);
        height: 650px;
        grid-template-columns: auto;
        grid-template-rows: repeat(2,auto);
        grid-template-areas: "inversiones-foto" "inversiones-texto";
        justify-items: center;
        align-items: center;
        color: var(--white);
        .inversiones-foto{
            img{
                width: 30rem;
            }
        }
        .inversiones-texto{
            h3{
                font-size: 4rem;
            }
            h5{
                font-size: 1.5rem;
                padding-top: 2rem;
            padding-bottom: 4rem;
            }
        }
    }
    .inversionescripto-2{
        h3{
         font-size: 3rem;
         margin-top: 2rem;
        }
        .foto-cripto{
         display: flex;
         margin-top: 3rem;
         flex-direction: column;
         .foto-cripto-1 , .foto-cripto-2, .foto-cripto-3, .foto-cripto-4{
             width: 24rem;
             margin: 40px auto;
             background-color: var(--white);
             border-radius: 2rem;
             display: flex;
             flex-direction: column;
             box-shadow: 10px 15px 15px var(--middlewhite);
         
         }
         img{
             background-color: #eee8f7;;
             border-radius: 15rem;
             width: 11rem;
             margin-top: 5rem;
         }
         h4{
             font-size: 2rem;
         }
         p{
             font-size: 12px;
             opacity: 0.85;
             padding-top: 2rem;
             padding-bottom: 3rem;
         }
     
     }
    
   }
   .inversionescripto-3{
    display: grid;
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "inversionescripto-3-h3" "foto-cripto-5" "foto-cripto-6";
    h3{
        width: 100%;
        font-size: 4rem;
    }
    ul{
        list-style: none;
        li{
            font-size: 1.8rem;
            padding-top: 4rem;
        }
    }
    .foto-cripto-6 {
        width: 30rem;
        padding-top: 3rem;
        margin: 5px auto;
        margin-bottom: 10rem;
    }
   }
   
   }





/* footer */

.footer{
    background-color: var(--middlewhite);
    color: var(--violet);
    .footer-container{
        grid-template-columns: repeat(2,160px);
        column-gap: 50px;
        margin-top: 2rem;
        .grid-1{
            .container-redes, .container-nosotros, .container-carreras{
                h5{
                    font-size: 1.5rem;
                    margin-left: 10px;
                }
                li{
                    list-style: none;
                    a {
                        color: var(--black);
                        font-size: 1rem;
                        text-decoration: none;
                    }
                }

            }
        }
        .grid-2{
            .fotos-footer{
                .foto-footer-1{
                    img {
                        width: 3.5rem;
                    }
                    margin-bottom: 1.5rem;
                }
            }
        }
        .footer-final{
            p{
                width: 80%;
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }
}

   
}
@media(min-width:1024px){
    header{
        height: 7rem;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
        grid-template-areas: "header-icon" "nav";
        .header-icon{
            a{
                .logo{
                    width: 15rem;
                }
            }
            .burgermenu{
                display: none;
            }
        }
        .nav{

            .navbar{
                .menu{
                    list-style: none;
                    display: grid;
                    grid-template-columns: repeat(6,auto);
                    column-gap: 15px;
                    margin-top: 3rem;
                    li{
                        margin-right: 1.3rem;
                        margin-bottom: 5rem;
                        a {
                            font-weight: 400;
                            text-decoration: none;
                            color: var(--black);
                            font-size: 1.6rem;
                            transition: all 0.4s linear;
                            transition: font-size 0.5s;
                            &:hover {
                                background-color: map-get($map: $somecolors, $key: backgrounds);
                                opacity: 0.8;
                                font-size: 2rem;
                            }
                            
                        }
                        .main-button{
                            width: 15rem;
                            font-size: 1rem;
                            font-weight: 400;
                            border-radius: 5px;
                            margin-top: 0.5rem;
                        }
                     }  
    
                }
            }
        }
       
    }
    /* seccion 1*/
    .inicio{
        h4,h5{
            display: none;
        }
        .inicio-1{
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-template-areas: "foto-inicio-mobile" "inicio-textos" ".""foto-inicio-descarga";
            .foto-inicio-mobile{
                width: 60rem;
                margin-top: 10rem;
            }
            .inicio-textos{
                h1 {
                    font-size: 9rem;
                    margin-top: 20rem;
                    font-weight: 400;
                }
                p {
                    font-size: 3.3rem;
                    margin-top: 5rem;
                    font-weight: 300;
                    display: block;
                    width: 600px;
                    color: var(--white);
                    margin-left: 15rem;
                }
            }
            .foto-inicio-descarga{
                grid-template-columns: repeat(3,auto);
                top: 40rem;
                justify-content: center;
                column-gap: 5px;
                cursor: pointer;
                right: 16rem;
                img{
                    width: 17rem;
                    margin-left: 5rem;
                   transition: width 1s;
                   &:hover{
                    width: 25rem;
                }
                }
        
             }
        
        }
    }
    .funciones{
        h3{
            font-size: 5rem;
            color: var(--black);
            margin-bottom: 4rem;
        }
        .funciones-foto{
            flex-direction: row;
            margin: auto;
            width: 80%; 
            img{
                width: 15rem;
                margin-top: 3rem;
               }
            .funciones-foto-1,.funciones-foto-2, .funciones-foto-3, .funciones-foto-4, .funciones-foto-5{
                margin-top: 6rem;
                box-shadow: 4px 8px 8px var(--middlewhite);
                width: 400px;
                height: 350px;
                margin-right: 15rem;
            }
            .funciones-foto-1{
                img{
                    width: 11rem;
                }
            }
            h5{
                font-size: 2.5rem;
                font-weight: bold;
                margin-bottom: 3rem;
                opacity: 0.9;
                margin-top: 2rem;
            }
            p{
                font-size: 1.5rem;
                opacity: 0.80;
         
            }
            
        }
    }
    .prextamo{
        display: grid;
        grid-template-columns: auto auto;
        .prextamo-foto{
            figure{
                img {
                    width: 50rem;
                }
            }
            h3 {
                display: none;
            }
        }
        .prextamo-texto{
            h3{
                display: block;
                color: var(--white);
            }
            .prextamo-texto-1 {
                margin-right: 3rem;
            }
        }
    }
    /* seccion 2 */
    .tarjeta{
        h3{
            font-size: 6rem;
            margin-top: auto;
        }
        h5{
            font-size: 3rem;
            margin: auto;
        }
        .grid-container{
            display:grid;
            grid-template-columns: repeat(3,auto);
        }
        .container-2{
            h3{
                font-size: 5rem;
                margin: auto;
                margin-top: 6rem;
            }
            h5{
                display: block;
                font-size: 2rem;
                width: 600px;
                margin: auto;
            }
        }
        .container-2-foto{
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }



    /* footer*/
    .footer{
        background-color: var(--middlewhite);
        .footer-container{
            grid-template-columns: repeat(2,auto);
            .grid-1{
                display: flex;
                justify-items: center;
                .container-redes, .container-nosotros, .container-carreras{
                    margin-right: 10rem;
                    margin-left: 16rem;
                    h5{
                        font-size: 2.5rem;
                        font-weight: 300;
                    }
                    li{
                        a {
                            font-size: 1.5rem;
                        }
                    }
                }
            
            }
            .grid-2{
                .fotos-footer{
                    .foto-footer-1{
                        img {
                            margin-bottom: 1.5rem;
                            width: 6rem
                        }
                    }
                }
            }
            .footer-final p{
                width: 100%;
                font-size: 1rem;
            }
        }
    }
    @each $foot,
    $color in $footer {
        .#{$foot} {
            background-color: $color;
        }
        
    }
   
}



